1 24 "assets/app.manifest"
101 ICON "assets/coralspynext.ico"
1 VERSIONINFO
FILEVERSION 0,3,1,0
PRODUCTVERSION 0,3,1,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "CoralSpyNext"
   VALUE "FileVersion", "0.3.1"
   VALUE "ProductName", "CoralSpyNext"
   VALUE "ProductVersion", "0.3.1"
   VALUE "OriginalFilename", "coralspynext.exe"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
